html
  h1!= name
  head
    style
      link(type='text/css', rel='stylesheet', href='/css/style.css') 
  body
    table
      // Titles
      tr
        th Champion
        th Pentakills
        th Quadrakills
        th TripleKills
        th DoubleKills
      for champ in blob
        tr
          td= champ.name
          td= champ.numPenta
          td= champ.numQuadra
          td= champ.numTriple
          td= champ.numDouble
