div(id='summoner')
  h1= name
  div(id='summary')
    h2 Totals
    ul
      li
        span(class='header')
          | Pentas
        = blob.totals.numPenta
      li
        span(class='header')
          | Quadras
        = blob.totals.numQuadra
      li
        span(class='header')
          | Triples
        = blob.totals.numTriple
      li
        span(class='header')
          | Doubles
        = blob.totals.numDouble

table
  // Titles
  tr
    th Champion
    th Pentakills
    th Quadrakills
    th TripleKills
    th DoubleKills
  for champ in blob
    tr
      td 
        img(src=champ.object.url)
        =champ.object.name
      td= champ.numPenta
      td= champ.numQuadra
      td= champ.numTriple
      td= champ.numDouble
