doctype html
html
  h1 Killionaire
  h2= name
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
    link(rel='stylesheet', href='css/style.css')
  body
    div(id='wrapper')
      h1= name
      table
        // Titles
        tr
          th Champion
          th PentaKills
          th QuadraKills
          th TripleKills
          th DoubleKills
        for champ in blob
          tr
            td= champ.name
            td= champ.numPenta
            td= champ.numQuadra
            td= champ.numTriple
            td= champ.numDouble
