div(id='summoner')
  h1= name
  div(id='summary')
    h2 Totals
    ul
      li
        span(class='headerSum')
          | Pentas
        = blob.totals.numPenta
      li
        span(class='headerSum')
          | Quadras
        = blob.totals.numQuadra
      li
        span(class='headerSum')
          | Triples
        = blob.totals.numTriple
      li
        span(class='headerSum')
          | Doubles
        = blob.totals.numDouble

table(id='killTable', class='tablesorter')
  thead
    tr
      th Champion
      th Pentakills
      th Quadrakills
      th TripleKills
      th DoubleKills
  tbody
    for champ in blob
      tr
        td 
          img(src=champ.object.url)
          =champ.object.name
        td= champ.numPenta
        td= champ.numQuadra
        td= champ.numTriple
        td= champ.numDouble
