html
  h1!= name
  body
    table
      tr
        td Champion
        td Pentakills
        td Quadrakills
        td TripleKills
        td DoubleKills
      for champ in blob
        tr
          td= champ.name
          td= champ.numPenta
          td= champ.numQuadra
          td= champ.numTriple
          td= champ.numDouble
